[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
scikit-learn = "*"
seaborn = "*"
waitress = "*"
xgboost = "*"
matplotlib = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
